<div class="spinner-overlay" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
<mat-card class="stuffing-form-card" *ngIf="!isLoading">
<mat-card-title class="card-title">Alterar Cargo</mat-card-title>
  
    <form #form="ngForm" class="stuffing-form" autocomplete="off">
        <div class="form-row">
            <mat-form-field appearance="fill" class="form-field">
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="stuffing.name" name="nome" required #nomeModel="ngModel" maxlength="100">
                <mat-error *ngIf="nomeModel.invalid && nomeModel.touched">
                    Nome é obrigatório.
                </mat-error>
            </mat-form-field>
        </div>
  
        <div class="form-buttons">
            <button mat-flat-button color="warn" (click)="stuffingUpdate()" [disabled]="form.invalid">
                Atualizar
            </button>
            <button mat-stroked-button color="primary" (click)="cancel()">
                Cancelar
            </button>
        </div>
    </form>
  </mat-card>
  
  
