<div class="spinner-overlay" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>
<mat-card class="employee-form-card" *ngIf="!isLoading">
    <mat-card-title class="card-title">Alterar Colaborador</mat-card-title>
  
    <form #form="ngForm" class="employee-form" autocomplete="off">
      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Nome</mat-label>
            <input matInput [(ngModel)]="employee.name" name="nome" required #nomeModel="ngModel">
            <mat-error *ngIf="nomeModel.invalid && nomeModel.touched">
                Nome é obrigatório.
            </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill">
            <mat-label>Número da Matrícula</mat-label>
            <input matInput
                   type="text"
                   maxlength="15"
                   pattern="[0-9]*"
                   inputmode="numeric"
                   [(ngModel)]="employee.registration_number"
                   name="registration_number"
                   (keypress)="onlyNumber($event)"                   
                   required 
                   #regisNumModel="ngModel">
              <mat-error *ngIf="regisNumModel.invalid && regisNumModel.touched">
                  Matrícula é obrigatória.
              </mat-error>
          </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Cargo</mat-label>
          <mat-select
          [(ngModel)]="selected"
          name="position"
          required
          #positionModel="ngModel">
          
          <mat-option [value]="undefined" disabled>Selecione um cargo</mat-option>
          <mat-option *ngFor="let pos of positions" [value]="pos.id">
            {{ pos.name }}
          </mat-option>
        </mat-select>
          <mat-error *ngIf="positionModel.invalid && positionModel.touched">
            Cargo é obrigatório.
        </mat-error>
        </mat-form-field>
      </div>
    
      <div class="form-buttons">
        <button mat-flat-button color="warn" (click)="employeeUpdate()" [disabled]="form.invalid">
            Atualizar
          </button>
          <button mat-stroked-button color="primary" (click)="cancel()">
            Cancelar
          </button>
      </div>
    </form>
  </mat-card>
  